{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="vanta-bg">
  <div class="main-title-section">
    <h4 class="movies-store-title">Georgia Tech Movies Store</h4>
    <h1>Your Ticket to Unlimited Entertainment! NEW NEW!! NEW watchlist feature</h1>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/vanta.clouds2.min.js' %}"></script>

<script>
VANTA.CLOUDS2({
  el: "#vanta-bg",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  texturePath: "{% static 'img/noise.png' %}"

})
</script>
{% endblock scripts %}